body{
    background-color:antiquewhite;
    background-image: url(https://img.funtop.tw/2013/09/130926-IM-Adventre-Time/IM-Adventre-Time_1.jpg);
    background-size: cover
}
p {
    color: crimson;
}